{% extends "base.html" %}
{% block content%}
<div>
{% if on_now %}
<h1>Water is <span class="badge bg-success">Available!</span></h1>
<!-- <button type="button" class="btn btn-success .text-nowrap">Water is available!</button> -->
{% else %}
<h1>Water is <span class="badge bg-danger">Not Available</span></h1>
<!-- <button type="button" class="btn btn-danger .text-nowrap">Water is not available.</button> -->
{% endif %}
</div>
<br />
<h3>Current Reading:</h3>
<div>{{current_pressure}} psi</div>
<br />
# Plot of Water Presure over time
<br />
# Histogram of water pressure vs time of day
<br />
{% endblock %}